html {
}

body {
}

#gameArea {
	width: auto;
	height: auto;
	float: left;
	margin: 1%;
	margin-right: 0;
    margin-bottom: 0px;
}

#game {
	border: 1px solid black;
}

#debugArea {
	width: auto;
	height: auto;
	margin: 1%;	
	margin-left: 0;
	float: left;
}

#debug {
	border: 1px solid black;
}
